<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />

    <roleManager enabled="true" defaultProvider="CustomProvider">
      <providers>
        <add connectionStringName="ConnectionString" name="CustomProvider"
          type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>

    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add name="CustomMembershipProvider"
             connectionStringName="ConnectionString"
            enablePasswordRetrieval="True"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="true"
            applicationName="/"
            requiresUniqueEmail="false"
            passwordFormat="Clear"
            maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="7"
            minRequiredNonalphanumericCharacters="0"
            passwordAttemptWindow="10"
            passwordStrengthRegularExpression=""
            type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              />
      </providers>
    </membership>
  </system.web>
  <connectionStrings>
    <add name="ConnectionString"
    connectionString="server=AVILA-PC\SA;  database=bereSystem;uid=sa;password=123456;"/>
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceBereSystemSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:44805/WebServiceBereSystem.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceBereSystemSoap"
        contract="Services.WebServiceBereSystemSoap" name="WebServiceBereSystemSoap" />
    </client>
  </system.serviceModel>
</configuration>
