
#pagina
{
    margin-right: 8%;
	margin-left:8%;  
}

#img{
	background-image:url('../images/spa.jpg');
	background-repeat: no-repeat;
    height: 550px;
}
#content {
	height: 550px;
	background-color: rgba(192,192,192,0.5);
 }
#logo {
	background-image: url('../images/logoBanner.png');
    background-repeat: no-repeat;
	height: 100px;  
}
#menu {
	height: 50px;
    margin-right: 2%;
	margin-left: 2%;
}

#footer {
	background-color: #808080;
	height: 150px;
}

.menu {
	height: 25px;
	}

.menu li {
			width:auto;
			height: 25px;
			float: left;
			list-style-type: none;
			text-align: center;
            margin-left:2%;
            margin-right:2%;
		}
.menu li ul li {

	height: 25px;
    width:230px;
	list-style-type: none;

}

.menu li ul li a{
	text-decoration: none;
	font-family: "Agency FB";
	font-size: 19pt;
	color: #808080;
	text-align:left;
	display: block;
}
	
.menu li a {
	text-decoration: none;
	font-family: "Agency FB";
	font-size: 19pt;
	color: #808080;
	text-align: center;
	display: block;

}
.menu li a:hover {
	text-decoration: none;
	font-family: "Agency FB";
	font-size: 20pt;
	color: #fff;
	text-align:center;
	display: block;
}

.menu li ul li a:hover {
	text-decoration: none;
	font-family: "Agency FB";
	font-size: 20pt;
	color: #fff;
	text-align:left;
	display: block;
}

.menu>li {
			float: left;
		}
.menu li:hover>ul {
	      display: block;
}
.menu li ul {
			display: none;
			position: absolute;
		}
.menu >li a:hover {
			background-color: #C1C1C1;
		}





