vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Jul 2016 11:12:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|AVILA-PC\\Dayanna
vti_modifiedby:SR|AVILA-PC\\Dayanna
vti_timecreated:TR|13 Jul 2016 11:12:04 -0000
vti_cacheddtm:TX|13 Jul 2016 11:12:04 -0000
vti_filesize:IR|712
vti_cachedlinkinfo:VX|S|../images/spa.jpg
vti_cachedsvcrellinks:VX|FSUS|BereSystem/BereSystem-/BereSystem/images/spa.jpg
vti_backlinkinfo:VX|BereSystem/BereSystem-/BereSystem/MasterPage.Master
